@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*Variables*/
    --color-first: #FE0000;
    --color-second: #F4E0B9;
    --color-third: #7D7463;
    --color-fourth: #A8A196;
}   

body {
    background-color: var(--color-second);
}

nav {
    background-color: var(--color-first);
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    font-family: Oswald, Roboto, Lato, sans-serif;
    color: var(--color-second)
}

.mainParagraph {
    font-size: 20px;
}

p {
    color: #000;
    font-family: Oswald, Roboto, Lato, sans-serif;
    font-size: 20px;
}