@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 'border-box';
  /*Variables*/
    --color-first: #FE0000;
    --color-second: #F4E0B9;
    --color-third: #7D7463;
    --color-fourth: #000000;
}   

main {
  background-color: var(--color-second);
}

nav {
  background-color: var(--color-first);
}