@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*Variables*/
    --color-first: #FE0000;
    --color-second: #F4E0B9;
    --color-third: #7D7463;
    --color-fourth: #A8A196;
}   

body {
    background-color: var(--color-second);
    font-family: Oswald, Roboto, Lato, sans-serif;
}

nav {
    background-color: var(--color-first);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: var(--color-second);
}

h1 {
    margin-left: 15px;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

nav > ul > li {
    display: block;
    padding: 20px;
}
  
a:visited {
    color: var(--color-second);
}
  
a:hover {
    color: var(--color-fourth);
}
  
a:active {
    color: var(--color-third);
}


p {
    color: #000;
    font-size: 16px;
}

.mainParagraph, h2 { /*You can explain specificity this switching this with p*/
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
}

h2, p, h3, main > ul, main > ol {
    margin: 10px 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

.trofeo {
    width: 900px;
    height: 400px;
    object-fit: contain;
    margin-bottom: 10vh;
}